<launch>

  <!-- defines name of the namespace of the drone -->
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />

  <arg name="simulation" default="true" />

    <!-- will it run using GNU debugger? -->
  <arg name="DEBUG" default="false" />
  <arg unless="$(arg DEBUG)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg DEBUG)" name="launch_prefix_debug" value="debug_roslaunch"/>


    <!-- Namespace - all topics, services and parameters will be remapped using this namespace as a prefix (eg.: "/mrs_actionlib_interface/odom_uav_in" to "/uav1/mrs_actionlib_interface/odom_uav_in") -->
  <group ns="$(arg UAV_NAME)">

      <node name="mrs_actionlib_interface" pkg="mrs_actionlib_interface" type="mrs_actionlib_interface" output="screen">

      <!-- Parameters loaded from launch file -->
      <param name="uav_name" value="$(arg UAV_NAME)" />

        <!-- ROS parameters config file -->
      <!-- <rosparam file="$(find mrs_actionlib_interface)/config/default.yaml" /> -->
      <!-- <rosparam file="$(find mrs_actionlib_interface)/config/$(arg RUN_TYPE).yaml" /> -->

        <!-- Subscribers (note that the topic names will also be remapped using the namespace as a prefix) -->
      <!-- <remap from="~odom_uav_in" to="odometry/odom_main" /> -->
      <!-- <remap from="~control_manager_diagnostics_in" to="control_manager/diagnostics" /> -->
      <!-- <remap from="~odom_gt_in" to="ground_truth" /> -->

        <!-- Publishers (note that the topic names will also be remapped using the namespace as a prefix) -->
      <!-- <remap from="~reference_out" to="control_manager/reference" /> -->
      <!-- <remap from="~dist_to_waypoint_out" to="~dist_to_waypoint" /> -->

        <!-- Service servers (note that the service names will also be remapped using the namespace as a prefix) -->
      <!-- <remap from="~start_waypoints_following_in" to="~start_waypoints_following" /> -->
      <!-- <remap from="~stop_waypoints_following_in" to="~stop_waypoints_following" /> -->
      <!-- <remap from="~fly_to_first_waypoint_in" to="~fly_to_first_waypoint" /> -->

        <!-- Service clients (note that the service names will also be remapped using the namespace as a prefix) -->
      <!-- <remap from="~land_out" to="uav_manager/land" /> -->

    </node>

  </group>

</launch>
